body {
    font-family: cursive;
    background: #e2f2fd;
    margin: 40px;
    color: #333;
    text-align: center;
}

h1 {
    text-align: center;
    color: #2c3e50;
    margin-bottom: 30px;
}

.nombre {
    background: #b8b8b8;
    border-radius: 8px;
    width: 60%;
    background-color: burlywood;
}

div .nombre {
    text-align: center;
    display: flex;
    background-color: aqua;
}

.Cuadro {
    display: inline-block;
    background: #ffe0e0;
    width: 30%;
    border-radius: 10px;
    border: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 1);
}

.Cuadro2 {
    display: inline-block;
    background: #ebe8ff;
    width: 30%;
    border: 10px;
    border-color: #333;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 1);
}